@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.fa-2x {
  font-size: 2em;
}
.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.main-menu:hover,
nav.main-menu.expanded {
  width: 150px;
  /* width:250px; */
  overflow: visible;
}

.main-menu {
  /* background:#212121; */
  border-right: 1px solid #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width 0.05s linear;
  transition: width 0.05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.main-menu > ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: "Titillium Web", sans-serif;
}

.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
  /* width:150px; */
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
.main-menu li:hover > a,
nav.main-menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #000000;
}
.area {
  /* float: left; */
  margin-left: 60px;
  width: calc(100% - 60px); /* Adjust to match initial sidebar width */
  transition: margin-left 0.05s linear; /* Smooth transition */
}

.main-menu:hover ~ .area {
  margin-left: 150px; /* Adjust to match hover sidebar width */
  width: calc(100% - 150px); /* Adjust to match hover sidebar width */
}

@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"),
    url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff)
      format("woff");
}

.topArea {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 2em auto;
}

.topIcons {
  display: flex;
  margin: 0 10px;
}
.topIcons a {
  text-decoration: none;
  color: #4d869c;
}

.balanceBox,
.transferBox,
.billsBox {
  background: #4d869c;
  width: 70%;
  margin: 2em auto;
  border-radius: 5px 5px;
  display: flex;
  justify-content: space-between;
  font-family: "Titillium Web";
}
.transferBox {
  background: none;
}
.transferItems,
.billsItem {
  margin: 2rem auto;
  text-align: center;
  cursor: pointer;
}
.areaIcons {
  background-color: #eef7ff;
  width: 50px;
  height: 50px;
  padding: 10px;
  color: cyan;
  margin: 1rem;
}
.billsBox {
  background: none;
}

/* Carousel */
.carousel {
  position: relative;
  width: 85%;
  margin: 5em auto;
  height: 700px;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  height: 100%;
}
.carousel-item:first-child {
  background-image: url("../Images/Finbank_logo.png"),
    url("../Images/soap bubble.png"),
    linear-gradient(to right, rgb(30 75 115 / 100%), rgb(255 255 255 / 0%));
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom right, left, right;
  /* Add any additional styles you need, such as height, padding, etc. */
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}

.carousel-caption h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.carousel-caption p {
  font-size: 1.5rem;
}
/* Carousel  */

#footer {
  background: #4d869c;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 10px;
  color: white;
}

.footerContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

/* Modal css  */

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  font-family: Times New Roman;
}
.modal-content h2 {
  font-weight: 600;
}

.close {
  color: #aaa;
  /* float: right; */
  text-align: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
