body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: linear-gradient(
    to right,
    rgb(30 75 115 / 100%),
    rgb(255 255 255 / 0%)
  );
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

#loginPage {
  width: 100%;
  margin: 0 auto;
}

.goBack {
  margin: 20px 0;
  cursor: pointer;
  color: white;
}

.login-menu {
  display: none;
}

.login-menu-items {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: #030d14;
  padding: 15px 7px;
  max-width: 100%;
}

.login-icon {
  text-align: center;
  color: #f7dc43;
}

.login-icon .fa {
  width: 100%;
}

.text {
  font-family: none;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  padding: 10px 2px;
}

/* Login Form  */
.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

.feed-form input {
  height: 54px;
  border-radius: 5px;
  background: white;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  font-weight: 300;
  font-size: 14px;
  color: #4b4b4b;
}

.button_submit:hover,
.feed-form input:hover {
  transform: scale(1.009);
  box-shadow: 0px 0px 3px 0px #212529;
}

.button_submit {
  width: 100%;
  height: 54px;
  font-size: 14px;
  color: white;
  background: red;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
}

@media (max-width: 791px) {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-menu {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 4% 9%;
    justify-content: center;
  }

  .login-menu-items {
    padding: 10px 6px;
    max-width: 100%;
  }

  .text h3 {
    font-size: 0.5em;
  }
}
